# Object files
*.o
*.obj
*.elf

# Linker output
*.ilk
*.exp

# Patch and wiggle related residdue
*.rej
*.porig

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# datadump
/tools/ddump/*

# Text editor remnants
*.swp
.vscode/*
.idea/*

# General project-specific ignores
doxygen/doxygen/*
build/*
!/lib/discord/*
*.dump
*.mio0
*.z64
*.map
*.sav
.assets-local.txt
sm64dsr_save_file.bin
sm64dsr_config.txt

# Assets
/levels/**/*.png
/actors/**/*.png
/textures/**/*.png
/assets/**/*.bin
/sound/**/*.m64
/sound/**/*.aiff

# DS Remastered Assets Allowed
!/levels/**/ds_*.png
!/levels/**/ds_*/**/*.png
!/actors/**/ds_*.png
!/actors/**/ds_*/**/*.png
!/textures/**/ds_*.png
!/textures/**/ds_*/**/*.png
!/sound/**/ds_*.m64
!/sound/**/ds_*/**/*.m64
!/sound/**/ds_*.aiff
!/sound/**/ds_*/**/*.aiff
!/assets/**/ds_*.bin
!/assets/**/ds_*/**/*.bin

# Android files
!/textures/touchcontrols/*.png
platform/android/SDL/include
!platform/android/android/**/*.so
platform/android/android/lib/*/libc++_shared.so

# macOS autocreated directory settings file 
.DS_Store
